<div class="container text-center category-show">
  <h1>Animals of the <%= @category.name %></h1>

  <div class="row group-cards">
    <% @category.puzzles.each do |puzzle| %>
      <div class="col-sm-6 col-md-4 card">
        <%= link_to [@category, puzzle], :action => 'go' do %>
          <%= image_tag puzzle.image_url_url(:index_thumb).to_s, alt: puzzle.name, class: "img-responsive" %>
          <h2><%= puzzle.name %></h2>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to  'Check out all Animals', root_path, class:"btn btn-viewer" %>

  <% if user_signed_in? %>
    <br>
    <br>
    <%= link_to 'Edit ' + @category.name, edit_category_path(@category), class: 'btn form-btn' %>
  <% end %>


</div>
