<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Puzzles</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Cabin+Sketch:wght@400;700&family=Caveat+Brush&family=Chewy&family=Comfortaa:wght@300;400;500;700&family=Coming+Soon&family=Fira+Sans:ital,wght@0,100;0,200;0,300;1,400;1,500&family=Gloria+Hallelujah&family=Handlee&family=Indie+Flower&family=McLaren&family=Poiret+One&family=Ranchers&family=Rancho&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Unkempt:wght@400;700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Javascript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>


  <body>
    <!-- main body starts here -->
    <div class="main-body">
      <%= yield %>
    </div>

    <hr>
    <footer>
      <p class="copyright">&copy; <%= Date.today.year %> <%= link_to 'Elina Charalampous', 'https://elinacharalampous.gr', target: :_blank %></p>
      <p class="unsplash">All photos from <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %></p>
    </footer>
    <!-- main body ends here -->
  </body>
</html>
