<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Puzzles</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Cabin+Sketch:wght@400;700&family=Caveat+Brush&family=Chewy&family=Comfortaa:wght@300;400;500;700&family=Coming+Soon&family=Fira+Sans:ital,wght@0,100;0,200;0,300;1,400;1,500&family=Gloria+Hallelujah&family=Handlee&family=Indie+Flower&family=McLaren&family=Poiret+One&family=Ranchers&family=Rancho&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Unkempt:wght@400;700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome 5 Icons -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!-- Javascript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>


  <body>
    <div class="anchor">
    <!-- flash messages -->
    <div class="container flash-messages">
      <% if notice %>
        <p id="notice" class="alert alert-info", role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert" class="alert alert-danger", role="alert"><%= alert %></p>
      <% end %>
    </div>

    <div class="text-center">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn form-btn logout" %>
      <% end %>
    </div>

    <div class="main-body">
      <%= yield %>
    </div>
  </div>

    <hr>
    <footer>
      <div class="row">
        <p class="col-sm-6 order-sm-12 unsplash">All photos from <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %></p>
        <p class="col-sm-6 order-sm-1 copyright">&copy; <%= Date.today.year %> <%= link_to 'Elina Charalampous', 'https://elinacharalampous.gr', target: :_blank %></p>
      </div>
    </footer>
    <!-- main body ends here -->
  </body>
</html>
