<div class="container-fluid text-center puzzle-show">

  <div class="title row">
    <h1 class="col-10 col-md-12 text-center"><%= @puzzle.name %></h1>

  </div>

  <div class="row puzzle-pieces-side">
    <div class="col-2 pieces pieces-left">
      <% @piecesNumberArray[0..@piecesNumber/2-1].each do |i| %>
        <div class="piece<%= i %> piece draggable" id="draggable-piece<%= i %>"></div>
      <% end %>
    </div>
    <div class="col-8 main-puzzle" data-pieces-number="<%= @piecesNumber %>" data-pieces-number-width="<%= @piecesNumberWidth %>" data-pieces-number-height ="<%= @piecesNumberHeight %>" data-image-url = "<%= @puzzle.image_url.to_s %>" >
      <% (1..@piecesNumberHeight).each do |h| %>
        <div class="row">
          <% (1..@piecesNumberWidth).each do |w| %>
            <div class="piece<%= (h-1)*@piecesNumberWidth + w %> piece droppable" id="droppable-piece<%= (h-1)*@piecesNumberWidth + w %>"></div>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="col-2 pieces pieces-right">
      <% @piecesNumberArray[@piecesNumber/2..@piecesNumber+1].each do |i| %>
        <div class="piece<%= i %> piece draggable" id="draggable-piece<%= i %>"></div>
      <% end %>
    </div>
  </div> <!-- end row -->

  <div class="possibilities row">
    <div class="col-sm-12 col-md-8 order-sm-1 pieces-selection">
      <%= link_to category_puzzle_path(piecesnumber: 4, piecesnumberwidth: 2, piecesnumberheight: 2), remote: false do %>
        <div class="piece-selection" id="piece-selection-4">
          <%= image_tag("puzzle-2-green.png", class: "img-fluid", alt: "puzzle piece") %>
          <p>4</p>
        </div>
      <% end %>
      <%= link_to category_puzzle_path(piecesnumber: 6, piecesnumberwidth: 3, piecesnumberheight: 2), remote: false do %>
        <div class="piece-selection" id="piece-selection-6">
          <%= image_tag("puzzle-2-green.png", class: "img-fluid", alt: "puzzle piece") %>
          <p>6</p>
        </div>
      <% end %>
      <%= link_to category_puzzle_path(piecesnumber: 12, piecesnumberwidth: 4, piecesnumberheight: 3), remote: false do %>
        <div class="piece-selection" id="piece-selection-12">
          <%= image_tag("puzzle-2-green.png", class: "img-fluid", alt: "puzzle piece") %>
          <p>12</p>
        </div>
      <% end %>
      <%= link_to category_puzzle_path(piecesnumber: 16, piecesnumberwidth: 4, piecesnumberheight: 4), remote: false do %>
        <div class="piece-selection" id="piece-selection-16">
          <%= image_tag("puzzle-2-green.png", class: "img-fluid", alt: "puzzle piece") %>
          <p>16</p>
        </div>
      <% end %>
    </div><!-- end pieces-selection -->

    <div class="col-sm-12 col-md-2 order-sm-12 buttons d-md-block">
      <div class="button">
        <%= link_to '<i class="material-icons">arrow_back</i>'.html_safe, @category, class:"back-btn", title: 'Go back to ' + @category.name + ' Puzzles', data: { toggle: 'tooltip', placement: 'bottom'} %>
      </div>
      <div class="button">
        <%= link_to '<i class="material-icons">refresh</i>'.html_safe, category_puzzle_path(piecesnumber: @piecesNumber, piecesnumberwidth: @piecesNumberWidth, piecesnumberheight: @piecesNumberHeight), class:"back-btn", title: 'Refresh Puzzle', data: { toggle: 'tooltip', placement: 'bottom'} %>
      </div>
    </div> <!-- end butttons -->
  </div><!-- end possibilities -->

  <div class="additional-puzzles">
    <div class="same-category">
      <p>More <%= @category.name %> Animals</p>
      <div class="row group-cards">
        <% @random_puzzles.each do |random_puzzle| %>
          <div class="col-sm-6 col-md-3 card">
            <%= link_to [@category, random_puzzle], :action => 'go' do %>
              <%= image_tag random_puzzle.image_url.to_s, alt: random_puzzle.name, class: "img-responsive" %>
              <h2><%= random_puzzle.name %></h2>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to  'All ' +@category.name + ' Animals', @category, class:"btn btn-viewer" %>
    </div> <!-- end same-category -->

    <hr>
    <div class="all-categories">
      <p>More Animals</p>
      <div class="row group-cards">
        <% @random_categories.each do |random_category| %>
          <div class="col-sm-6 col-md-3 card">
            <%= link_to random_category, :action => 'go' do %>
              <%= image_tag random_category.image_url.to_s, alt: random_category.name, class: "img-responsive" %>
              <h2><%= random_category.name %></h2>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to  'All Animals', root_path, class:"btn btn-viewer" %>
    </div> <!-- end all-categories -->
  </div>

</div>
